:root 
{
    --color-1: hsl(271, 9%, 17%);
    --color-2: hsl(271, 5%, 51%);
    --color-3: hsl(256, 26%, 20%);
    --color-4: hsl(215, 30%, 68%);
}


body 
{
    font-family: "Karla", sans-serif;
}

* {
    margin:0;
    box-sizing: border-box;
}
p {
    line-height: 1.625;
}
h1 
{
    font-size: 3rem;
    line-height: 1;
    letter-spacing: -0.013em;
}
h2 
{
    font-size: 2.5rem;
    line-height: 1;
    letter-spacing: -0.014em;
}

h3 {
    font-size: 1.75rem;
    line-height: auto;
    letter-spacing: -0.013em;
}


.btn 
{
    font-size: 0.8125rem;
    font-family: inherit;
    padding: 1em 2.19em;
    font-weight: bold;
    border:solid 1.5px var(--color-1);
    color: var(--color-1);
    text-transform: uppercase;
    background-color: transparent;
    letter-spacing: 0.11em;
}