:root 
{
    --color-1: hsl(271, 9%, 17%);
    --color-2: hsl(271, 5%, 51%);
    --color-3: hsl(256, 26%, 20%);
    --color-4: hsl(215, 30%, 68%);
}


body 
{
    font-family: "Karla", sans-serif;
    text-align: center;
}

* {
    margin:0;
    box-sizing: border-box;
}
p {
    line-height: 1.625;
}

h1, h2, h3 {
    font-family: "DM Serif Display", serif;;
}
h1 
{
    font-size: 3rem;
    line-height: 1;
    letter-spacing: -0.013em;
}
h2 
{
    font-size: 2.5rem;
    line-height: 1;
    letter-spacing: -0.014em;
}

h3 {
    font-size: 1.75rem;
    line-height: auto;
    letter-spacing: -0.013em;
}


.btn 
{
    font-size: 0.8125rem;
    font-family: inherit;
    padding: 1em 2.19em;
    font-weight: bold;
    border:solid 1.5px var(--color-1);
    color: var(--color-1);
    text-transform: uppercase;
    background-color: transparent;
    letter-spacing: 0.11em;
    transition: background-color 300ms, color 300ms;
    cursor: pointer;
}


.btn:hover 
{
    background-color: var(--color-1);
    color: white;
}

.btn--light 
{
    color: white;
    border-color: white;
}

.btn--light:hover
{
    background-color: white;
    color: var(--color-1);
}


.navlink 
{
    text-transform: uppercase;
    letter-spacing: .115em;
    font-size: .8125rem;
    cursor: pointer;
    text-decoration: none;
    color: var(--color-2);
}

.navlink:hover
{
    color: var(--color-1);
}


.header{
    padding: 1.93em 6.4%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav, .header_btn {
    display: none;
}


.hero_img{
    width: 100%;
}

.hero_img--desktop
{
    display: none;
}
.hero_img--mobile {
    display: block;
    max-width: 375px;
    margin-left: auto;
    margin-right: auto;
}

.hero_content {
    background-color: var(--color-3);
    color:white;
    padding: 5.81em 6.4%;
    background-image: url(./images/bg-pattern-intro-left-mobile.svg);
    background-position: top left;
    background-repeat: no-repeat;
    position: relative;
}

.hero_content::after
{
    content: '';
    width: 377px;
    height: 352px;
    background-image: url(./images/bg-pattern-intro-right-mobile.svg);
    background-repeat: no-repeat;
    background-position: top right;
    position: absolute;
    right: 0px;
    bottom: -10em;
    pointer-events: none;
}

.hero_img-pattern {
    display: none;
}

.title {
    margin-bottom: .33em;
}

.hero_body{
    margin-bottom: 2em;
}


.main {
    padding: 0 6.4% 8.75em;
}


.features 
{
    padding: 11.3em 6.4% 8.75em;
}

.features_title {
    position: relative;
    margin-bottom: 1.66em;
}

.features_title::before
{
    content: '';
    width: 150px;
    height: 1px;
    background-color: hsl(296, 30%, 68%);
    position: absolute;
    top: -.83em;
    left: 50%;
    transform: translate(-50%);
}
.features_list {
    display: flex;
    flex-direction: column;
    gap: 3.5em;
}

.feature {
    max-width: 350px;
    margin-left: auto;
    margin-right: auto;
}
.feature_icon {
    margin-bottom: 2em;
}

.feature_title {
    margin-bottom: .57em;
}

.feature_body {
    color: var(--color-2);
}

.cta {
    background-color: var(--color-3);
    color:white;
    padding: 4.5em 7%;
    background-image: url(./images/bg-pattern-how-we-work-mobile.svg);
    background-repeat: no-repeat;
    background-position: top right;
    
}
.cta_title {
    margin-bottom: 1em;
    max-width:500px;
}



.footer {
    background-color: hsl(0,0%,98%);
    padding: 0 6.4%;
}

.footer_top {
    padding: 5.5em 0 2.5em;
    background-image: url(./images/bg-pattern-footer-mobile.svg);
    background-position: top left;
    background-repeat: no-repeat;
    border-bottom: 1px solid hsl(0,0%, 59%);
}

.footer_logo {
    margin-bottom: 2em;
}

.social {
    display: flex;
    list-style: none;
    padding-left: 0;
    justify-content: center;
    gap:1em;
}

.social_item {
    cursor: pointer;
}

.social_icon {
    transition: filter 300ms;
}

.social_item:hover .social_icon 
{
    filter: brightness(50%);
}

.footer_btm {
    display: flex;
    flex-direction: column;
    gap: 2.5em;
}
.footer_links_title
{
    color: var(--color-2);
    margin-bottom: 2.76em;
}
.footer_links {
    list-style: none;
    padding-left: 0;
    display: flex;
    flex-direction: column;
    gap: 1em;
}
.footer_link {
    color: var(--color-1);
}
.footer_btm {
    padding: 2.5em 0 5.5em;
}


.menu {
    position: fixed;
    top: 0px;
    width: 100%;
    transform: translateY(-100%);
    opacity: 0%;
    pointer-events: none;
    transition: opacity 300ms, transform 300ms;
}
.menu.open {
    opacity: 100%;
    pointer-events: all;
    transform: none;
}
.menu_header {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.93em 6.4%;
}

.menu_list {
    list-style: none;
    padding-left: 0;
    font-size: 1.25rem;
    letter-spacing: .068em;
    background-color: var(--color-1);
    padding: 2.5em 6.4% 18.75em;
    display: flex;
    flex-direction: column;
    gap: 1.2em;
    background-image: url(./images/bg-pattern-mobile-nav.svg);
    background-position: bottom right;
    background-repeat: no-repeat;
    background-size: contain;
}

.menu_link {
    color: white;
    text-transform: uppercase;
    text-decoration: none;
}

.menu_btn-view {
    font-size: inherit;
}

.btn-menu, .menu_btn-close 
{
    cursor: pointer;
    transition: transform 300ms;
}

.btn-menu, .menu_btn-close:hover 
{
    transform: scale(1.2);
}


@media (min-width: 768px){
    .header {
        padding: 1.93em 11.4%;
        justify-content: end;
    }
    .header_logo {
        margin-right: auto;
    }

    .btn-menu {
        display: none;
    }

    .nav, .header_btn {
        display: block;
    }

    .nav{
        margin-right: 2em;
    }

    .navlist {
        list-style: none;
        padding-left: 0;
        display: flex;
        gap: 1.625em;
    }
    .features_list 
    {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 1.875em;
        justify-content: space-between;
    }
}


@media (min-width: 1440px)
{
    body {
        text-align: left;
    }

    h1 {
        font-size: 4.5rem;
        line-height: 0.88;
        letter-spacing: 0.0138;
    }

    h2 
    {
        font-size: 3.5rem;
        line-height: 1;
        letter-spacing: -0.0139;
    }

    h3 
    {
        font-size: 1.75rem;
        line-height: 1.625;
        letter-spacing: 0;
    }


   

    .hero {
        background-color: var(--color-3);
        display: flex;
        justify-content: space-between;
        padding: 0 11.4%;
        position: relative;
    }

    .hero::after
    {
        content: '';
        width: 9.375em;
        height: 1px;
        background-color: white;
        position: absolute;
        top: 6.5em;
        left: 11.4%;
    }

    .hero::before
    {
        content: '';
        width: 697px;
        height: 649px;
        position: absolute;
        background-image: url(./images/bg-pattern-intro-left-desktop.svg);
        background-repeat: no-repeat;
        left: 0px;
        top: 70%;
        pointer-events: none;
    }

    .hero_img-pattern
    {
        display: block;
        position: absolute;
        right: 0px;
        top:0px;
    }

    .hero_img-wrapper, .hero_content {
        width: 48.6%;
    }

    .hero_content {
        padding: 10em 0 7.9em;
        background-image: none;
    }
    .hero_content::after
    {
        display: none;
    }
    .hero_img--mobile
    {
        display: none;
    }

    .hero_img-wrapper {
        position: relative;
    }

    .hero_img--desktop {
        display: block;
        width: 100%;
        position: absolute;
        top: 6.5em;
    }

    .main {
        padding: 0 11.4% 9.375em;
    }
    .feature {
        margin-left: 0;
        margin-right: 0;
    }

    .features {
        padding: 23em 0 9.8em;
    }

    .features_title::before {
        left:0px;
        transform: none;
    }

    .cta
    {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        background-image: url(./images/bg-pattern-how-we-work-desktop.svg);
        background-size: contain;
    }

    .cta_title 
    {
        margin-bottom: 0;
    }


    .footer {
        padding: 4em 11.4%;
        background-image: url(./images/bg-pattern-footer-desktop.svg);
        background-repeat: no-repeat;
    }


    .footer_top{
        background-image: none;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .footer_logo {
        margin-bottom: 0;
    }
    
    .footer_btm
    {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(auto, 255px));
    }


    
}